{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_body_tag %}class="text-center"{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">

    <h1 class="h3 mb-3 mt-5">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>

{% endblock %}
